*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-color: white;
}
header{
    width: 100%;
    height: 25px;
    color: white;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header>i{
    font-size: 18px;
}
header>i:first-child{
    margin-left: 7px;
}
header>h1{
    font-size: 18px;
    margin-left: 10px;
    margin-right: 380px;
    font-weight: 100;
}
header>button{
    margin-left: 10px;
    padding: 1px 3px;
    color: lightsteelblue;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
}
header>button:hover{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}
.menu{
    display: none;
}

