/*Global variables for light/dark theme
  Important Note: If you are adding color, then do decide light and dark version of that color
  and include it in :root below in form of variables. Only give colors in form of variables...*/

:root {
    --fontcolorblack: black;
    --fontcolorwhite: white;
    --fontcolorbluish: lightsteelblue;
    --bgcolorwhite: white;
    --bgcolorbluish: lightsteelblue;
    --bgcolorf0f0f0: #f0f0f0;
    --bgcolorf9f9f9: #f9f9f9;
    --bgcolor090909: #090909;
    --bordercolorwhite: white;
    --boxshadowcolorblack: rgba(0, 0, 0, 0.3);
    --boxshadowcolorfadeblack: rgba(0, 0, 0, 0.1);
    --boxshadowcolorfadewhite: rgba(255, 255, 255, 0.1);
    --boxshadowcolorreddish: rgba(255, 0, 0, 0.1);
}

/*CSS for header and overall document*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    color: var(--fontcolorblack);
}

body {
    min-height: 100vh;
    background-color: var(--bgcolorwhite);
}

nav {
    background-color: var(--bgcolorbluish);
    box-shadow: 3px 3px 5px var(--boxshadowcolorblack);
    width: 25%;
}

nav ul {
    border-radius: 20px;
    list-style: none;
    position: fixed;
    top: 65px;
    right: 0;
    height: 325px;
    width: 250px;
    z-index: 999;
    background-color: var(--bgcolorbluish);
    box-shadow: -10px 0 10px var(--boxshadowcolorblack);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

nav li {
    height: 50px;
    width: 100%;
}

nav a {
    height: 100%;
    width: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--fontcolorblack);
}

nav a:hover {
    background-color: var(--bgcolorf0f0f0);
    border-radius: 20px;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    color: var(--fontcolorwhite);
    background-color: var(--bgcolorbluish);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

header>h1 {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 380px;
    font-weight: 100;
}

.buttons>button {
    margin-left: 10px;
    padding: 1px 3px;
    color: var(--fontcolorbluish);
    background-color: var(--bgcolorwhite);
    border: 1px solid var(--bordercolorwhite);
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.buttons>button {
    font-size: 20px;
}

.buttons>button:hover {
    color: var(--fontcolorwhite);
    background-color: transparent;
    border: 1px solid var(--bordercolorwhite);
    cursor: pointer;
}

.menu {
    display: none;
}

.buttons>button:nth-child(2) {
    margin-right: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

/* CSS for Main-section */
.Main-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

@media (max-width: 800px) {
    .Main-block {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        justify-items: center;
        align-items: center;
    }
}

.Main-block div.converter {
    height: 200px;
    width: 75vh;
    border-radius: 20px;
    background-color: var(--bgcolorf9f9f9);
    padding: 20px;
    margin: 20px;
    box-shadow: 3px 3px 5px var(--boxshadowcolorfadeblack);
}

.Main-block div.converter:hover {
    box-shadow: 3px 3px 5px var(--boxshadowcolorfadeblack) inset;
}

.Main-block>div input {
    color: var(--fontcolorwhite);
    font-size: 20px;
    border: 1px solid var(--bgcolorbluish);
    border-radius: 20px;
    padding: 4px 8px;
    background-color: var(--bgcolorbluish);
    margin-bottom: 30px;
}

.Main-block>div input:hover {
    color: var(--fontcolorbluish);
    background-color: var(--bgcolorwhite);
    border: 1px solid var(--bgcolorbluish);
}

.Main-block>div label {
    color: var(--fontcolorbluish);
    font-size: 20px;
}

.converter{
    text-align: center;
}

.converter-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.converter input[type=text]{
    text-align: center;
    width: 50%;
}

/* CSS for About Us section */

.aboutus-panels {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.aboutus-panels div {
    height: 150px;
    width: 50vh;
    border-radius: 20px;
    background-color: var(--bgcolorbluish);
    padding: 10px;
    margin: 20px;
    box-shadow: 3px 3px 5px var(--boxshadowcolorblack);
    text-align: justify;
}

.aboutus-panels h2 {
    text-align: center;
    font-style: italic;
    color: var(--fontcolorblack);
}

.aboutus-panels li {
    list-style: none;
    padding-top: 10px;
}

.aboutus h1 {
    margin-left: 20px;
    font-size: 38px;
    color: var(--fontcolorblack);
}

.aboutus h1:hover {
    background-color: var(--bgcolorf0f0f0);
}

/* CSS for Footer */

footer {
    width: 100%;
    text-align: center;
    font-size: 24px;
    background-color: var(--bgcolorbluish);
    color: var(--fontcolorblack);
    padding-bottom: 10px;
    padding-top: 10px;
}