/*CSS for header and overall documnet*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    background-color: white;
}
nav{
    background-color: lightsteelblue;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: 25%;
}
nav ul{
    border-radius: 20px;
    list-style: none;
    position: fixed;
    top: 65px;
    right: 0;
    height: 50vh;
    width: 250px;
    z-index: 999;
    background-color: lightsteelblue;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
nav li{
    height: 50px;
    width: 100%;
}
nav a{
    height: 100%;
    width: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}
header{
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    color: white;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
header>h1{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 380px;
    font-weight: 100;
}
.buttons>button{
    margin-left: 10px;
    padding: 1px 3px;
    color: lightsteelblue;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.buttons>button>i{
    font-size: 20px;
}
.buttons>button:hover{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}
/* .menu{
    display: none;
} */
.buttons>button:nth-child(2){
    margin-right: 10px;
}
.buttons{
    display: flex;
    flex-direction: row;
}

/* CSS for Main-section */
.Main-block div{
    height: 300px;
    width: 100vh;
    border-radius: 20px;
    background-color: lightsteelblue;
    padding: 10px;
    margin: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);   
}
.Main-block div:hover{
    transform: translate(100px,0);
    box-shadow: -10px 0 10px rgba(255, 0, 0, 0.1);
}

/* CSS for About Us section */

.aboutus-panels{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.aboutus-panels div{
    height: 150px;
    width: 50vh;
    border-radius: 20px;
    background-color: lightsteelblue;
    padding: 10px;
    margin: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);   
    text-align:justify;
}
.aboutus-panels h2{
    text-align: center;
    font-style: italic;
}
.aboutus-panels li{
    list-style: none;
    padding-top: 10px;
}
.aboutus h1{
    margin-left: 20px;
    font-size: 38px;
}
.aboutus h1:hover{
    background-color: #f0f0f0;
}

/* CSS for Footer */

footer{
    text-align: center;
    font-size: 24px;
    background-color: lightsteelblue;
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;
}